# Let's Encrypt
LE_EMAIL=your@email.com

# Domain
BLOKKFLYT_HOST=blokkflyt.yourdomain.com

# Bitcoin Core RPC (must be reachable from the deploy server)
BITCOIN_RPC_HOST=192.168.0.104
BITCOIN_RPC_USER=
BITCOIN_RPC_PASSWORD=
BITCOIN_RPC_PORT=8332
